div{
    background-color: yellow;
    width: 100px;
    height: 100px;
}

div:hover{
    background-color: rgb(255, 8, 0);
    width: 100px;
    height: 100px;
    transition-duration:2s ;
    /*    transform: translatex(20px);*/
    transform: translate(30px,100px);
}
