#div001{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50px;
}

#traffic_light0{
    height: 100px;
    width: 50px;
    border: solid 3px;
}

#traffic_light1{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50px;
}

#traffic_light2{
    
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 50%;
}

#traffic_light3{
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
}